

<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Your booking is successful for {{date}}.</p>
        <p> Please, visit the center 15 minutes prior to the booking date</p>
    </body>
</html>