

<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Thank you for placing an order with TBSS.</p>
        <p> We will update you with the shipping details shortly</p>
    </body>
</html>